In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv(r'moviesdataset_2023.csv')
data.head()

,Unnamed: 0,name,rating,votes,runtime,genre,description
0,0,Oppenheimer,8.4,"565,499",180 min,"['Biography, Drama, History']",['The story of American scientist J. Robert Op...
1,1,Sound of Freedom,7.7,"91,802",131 min,"['Biography, Crime, Drama']",['The incredible true story of a former govern...
2,2,Saltburn,7.3,"38,572",131 min,"['Comedy, Drama, Thriller']","[""A student at Oxford University finds himself..."
3,3,Tetris,7.4,"75,645",118 min,"['Biography, Drama, History']","[""The story of how one of the world's most pop..."
4,4,Jesus Revolution,7.1,"12,613",120 min,['Drama'],['The true story of a national spiritual awake...

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   100 non-null    int64
 1   name         100 non-null    object
 2   rating       98 non-null     object
 3   votes        99 non-null     object
 4   runtime      99 non-null     object
 5   genre        100 non-null    object
 6   description  100 non-null    object
dtypes: int64(1), object(6)
memory usage: 5.6+ KB

In [8]:
data.isna().sum()

Unnamed: 0     0
name           0
rating         2
votes          1
runtime        1
genre          0
description    0
dtype: int64

In [10]:
data.drop('Unnamed: 0', axis=1, inplace=True)
data.drop('description', axis=1, inplace=True)

In [11]:
data.columns

Index(['name', 'rating', 'votes', 'runtime', 'genre'], dtype='object')

In [12]:
df = data.copy()

In [13]:
df.dropna(inplace=True)
df.isna().sum()

name       0
rating     0
votes      0
runtime    0
genre      0
dtype: int64

In [14]:
df.shape

(97, 5)

In [15]:
df

,name,rating,votes,runtime,genre
0,Oppenheimer,8.4,"565,499",180 min,"['Biography, Drama, History']"
1,Sound of Freedom,7.7,"91,802",131 min,"['Biography, Crime, Drama']"
2,Saltburn,7.3,"38,572",131 min,"['Comedy, Drama, Thriller']"
3,Tetris,7.4,"75,645",118 min,"['Biography, Drama, History']"
4,Jesus Revolution,7.1,"12,613",120 min,['Drama']
...,...,...,...,...,...
95,The Pope's Exorcist,6.1,"76,775",103 min,"['Horror, Thriller']"
96,Creed III,6.7,"87,908",116 min,"['Drama, Sport']"
97,Kidnapped,7.1,"1,855",134 min,"['Drama, History']"
98,Fast X,5.8,"106,548",141 min,"['Action, Adventure, Crime']"
99,The Mothership,none,None,None,"['Adventure, Drama, Family']"

In [16]:
df_filtered = df[~df['rating'].str.lower().isin(['none', 'none'])]
df_filtered = df[~df['votes'].str.lower().isin(['none', 'none'])]
df_filtered = df[~df['runtime'].str.lower().isin(['none', 'none'])]

df_filtered.shape

(96, 5)

In [17]:
df_filtered

,name,rating,votes,runtime,genre
0,Oppenheimer,8.4,"565,499",180 min,"['Biography, Drama, History']"
1,Sound of Freedom,7.7,"91,802",131 min,"['Biography, Crime, Drama']"
2,Saltburn,7.3,"38,572",131 min,"['Comedy, Drama, Thriller']"
3,Tetris,7.4,"75,645",118 min,"['Biography, Drama, History']"
4,Jesus Revolution,7.1,"12,613",120 min,['Drama']
...,...,...,...,...,...
94,Teenage Mutant Ninja Turtles: Mutant Mayhem,7.2,"53,230",99 min,"['Animation, Action, Adventure']"
95,The Pope's Exorcist,6.1,"76,775",103 min,"['Horror, Thriller']"
96,Creed III,6.7,"87,908",116 min,"['Drama, Sport']"
97,Kidnapped,7.1,"1,855",134 min,"['Drama, History']"
98,Fast X,5.8,"106,548",141 min,"['Action, Adventure, Crime']"